.head-title {
  font-weight: $medium;
  font-size: $font-size-md;
  line-height: 26px;
  letter-spacing: $ls-2;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px 0;
}

.flex-table {
  overflow-x: auto;
  overflow-y: hidden;

  &__row {
    display: flex;
    text-decoration: none;

    &.selected {
      background: $light-blue;
    }


    &__header {
      width: 100%;
      background: $lighter-grey;
      font-weight: $medium;
      line-height: 20px;
      letter-spacing: $ls-1;
      padding: 10px;
      min-width: 75px;
    }

    &__content {
      width: 100%;
      padding: 12px 10px;
      color: $dark-grey;
      min-width: 75px;

      &:first-child {
        font-weight: $medium;
        line-height: 21px;
        letter-spacing: $ls-1;
        color: $color-default;
      }
    }

    &:not(:first-child) {
      border-bottom: 1px solid $light-grey;

      &:hover {
        background: $light-blue;
      }
    }
  }

}

.col-flex-table {
  display: flex;

  &__column{
    flex: 1;

    &__header{
      width: 100%;
      background: $lighter-grey;
      font-weight: $medium;
      line-height: 20px;
      letter-spacing: $ls-1;
      padding: 10px;
      white-space: nowrap;
    }

    &__total{
      width: 100%;
      background: $lighter-grey;
      font-weight: $font-default;
      line-height: 20px;
      letter-spacing: $ls-1;
      padding: 10px;
      white-space: nowrap;
    }

    &__total:first-child{
      font-weight: $medium;
    }

    &__content{
      width: 100%;
      padding: 12px 10px;
      color: $dark-grey;
      white-space: nowrap;
      border-bottom: 1px solid $light-grey;

      input{
        border: none;
        outline: none;
        font-size: $font-size-default;
        font-family: $font-default;
        background: transparent;
        width: 100%;
      }

      &:first-child {
        font-weight: $medium;
        line-height: 21px;
        letter-spacing: $ls-1;
        color: $color-default;
      }
    }
  }
}

