@import "assets/styles/variables";

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  box-shadow: $shadow-1;
  padding: 8px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  flex-wrap: wrap;
  background: $white;
  z-index: 1000;

  &__content {
    display: flex;
    align-items: center;

    &:first-child{
      width: 100%;
      flex: 3;
    }

    i{
      color: $white-shade;
    }

    button{
      outline: none;
      background: transparent;
      border: none;
      padding: 15px 22px;
    }

    h2{
      padding: 0 20px 0 8px;
      font-size: $font-size-lg;
      white-space: nowrap;
      font-weight: $medium;
    }

    .input-block {
      position: relative;
      width: 100%;
      max-width: 350px;
      min-width: 100px;
      border: 1px solid  $grey;
      border-radius: 4px;
      padding: 5px 25px 5px 5px;
      margin-left: 57px;

      input{
        width: 100%;
        border: none;
        outline: none;
        font-size: $font-size-default;

        &::placeholder{
          color: $middle-grey;
          letter-spacing: -0.2px;
          font-family: 'Heebo', sans-serif;
        }
      }

      i{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: $font-icon-xs;
      }
    }

    &__block{
      padding-left: 30px;
      display: flex;
      align-items: center;

      .circle{
        font-size: $font-icon-sm;
      }

      p{
        margin-left: 5px;
        margin-right: 20px;
        white-space: nowrap;
      }

      span{
        background-color: $red;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $white;
        font-size: $font-size-xs;
      }
    }
  }
}
