<div class="header">
  <div class="header__content">
    <button (click)="onButtonToggle()">
      <i class="material-icons">
        dehaze
      </i>
    </button>
    <h2>{{selectedLink?.name}}</h2>
    <div class="input-block">
      <label for="search"></label>
      <input type="text" placeholder="Search" id="search">
      <i class="material-icons">
        search
      </i>
    </div>
  </div>
  <div class="header__content">
    <div class="header__content__block">
      <i class="material-icons">
        notification_important
      </i>
      <span>9</span>
    </div>
    <div class="header__content__block">
      <i class="material-icons circle">
        account_circle
      </i>
      <p>
        Andrii Semyrozum
      </p>
    </div>
  </div>
</div>
