<div class="simulation-item">
  <div class="simulation-item__header">
    <div class="simulation-item__header__wrapper">
      <a type="button" [routerLink]="['/', 'list']">
        <i class="material-icons">
          arrow_back
        </i>
      </a>
      <div class="simulation-item__header__block">
        <p>Portfolio</p>
        <div class="selector">
          <app-select
            [selectedItem]="selectedPortfolio"
            [list]="portfolios$ | async"
            [valueType]="'name'"
            (selectEmitter)="onSelectedPortfolio($event)"
          ></app-select>
        </div>
      </div>
      <div class="simulation-item__header__block second">
        <p>AsOfDate</p>
        <div class="datepicker">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [formControl]="dateControl" (dateChange)="onSelectedDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
          <button (click)="picker.open()">
            <i class="material-icons">
              today
            </i>
          </button>
        </div>
      </div>
    </div>
    <div class="simulation-item__header__wrapper">
      <button [disabled]="!simulationDetails?.simulationId" type="button" class="report-btn" (click)="openReportsDialog()">
        Generate report
      </button>
      <button class="outline-btn" (click)="openDialog()">Save</button>
    </div>
  </div>
  <div class="simulation-item__content">
    <app-simulation-table #simTable
                          [simulationDetails]="simulationDetails"
                          [mainColumns]="mainColumns"
                          [optionalColumns]="optionalColumns"
    >
    </app-simulation-table>
  </div>
</div>
