@import "assets/styles/variables";
@import "assets/styles/components/reports";

.table-wrapper{
  width: 50%;
}

.chart-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 210px;

  .header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;

    h3{
      font-weight: $medium;
      font-size: $font-size-md;
      line-height: 26px;
      letter-spacing: $ls-2;
    }

    .btn-wrapper{
      .report__tabs{
        button{
          font-size: $font-size-sm;
          min-width: 110px;
        }
      }
    }
  }
}
