<div class="grey-bg" [class.show]="onMenuOpen" (click)="onMenuOpen = false"></div>
<div class="table-header">
  <div class="table-header__block">
    <h3 class="head-title">Create Simulation</h3>
    <button class="vertical" (click)="onMenuOpen = !onMenuOpen">
      <i class="material-icons-outlined">
        settings
      </i>
    </button>
    <div class="table-header__block__wrapper">
      <app-table-columns-dropdown
        [columns]="optionalColumns"
        [onMenuOpen]="onMenuOpen"
        (columnsEmitter)="onUpdateColumns($event)"
        (openMenuEmitter)="onMenuOpen = $event"
      ></app-table-columns-dropdown>
    </div>
  </div>
  <div class="table-header__block" *ngIf="selectedRows.length">
    <div class="table-header__block__content">
      <button (click)="onMakeAction('Buy')">
        <i class="material-icons">
          add
        </i>
        <span class="hint">Buy</span>
      </button>
    </div>
    <div class="table-header__block__content">
      <button (click)="onMakeAction('Sell')">
        <i class="material-icons">
          remove
        </i>
        <span class="hint">Sell</span>
      </button>
    </div>
    <div class="table-header__block__content">
      <button (click)="onExport()">
        <i class="material-icons-outlined">
          publish
        </i>
        <span class="hint">Publish</span>
      </button>
    </div>
    <div class="table-header__block__content">
      <button (click)="onRowsRemove()">
        <i class="material-icons-outlined">
          delete
        </i>
        <span class="hint">Remove</span>
      </button>
    </div>
  </div>
</div>
<div class="flex-table">
  <div class="flex-table__row">
    <ng-container *ngFor="let column of columns">
      <div class="flex-table__row__header" *ngIf="!column.hide">{{column.name}}</div>
    </ng-container>
  </div>
  <div class="flex-table__row"
       [class.selected]="checkIfSelected(item.id)"
       [class.action]="item.action"
       *ngFor="let item of items"
       (click)="selectRow(item, $event)">

    <ng-container *ngFor="let key of objectKeys(item)">
      <div class="flex-table__row__block" *ngIf="checkForColumn(key)">
        <ng-container *ngIf="item.action">
          <span class="add" *ngIf="item.action === 'Buy'">
            <i class="material-icons add">add</i>
          </span>
          <span class="remove" *ngIf="item.action === 'Sell'">
            <i class="material-icons remove">remove</i>
          </span>
        </ng-container>

        <input [(ngModel)]="item[key]">
      </div>
    </ng-container>
  </div>
</div>
<button class="outline-btn" (click)="onAddNewLine()">Add Line</button>

