<div class="grey-bg" [class.show]="onMenuOpen" (click)="onMenuOpen = false"></div>
<div class="table-header">
  <div class="table-header__block">
    <h3
      class="head-title">{{simulationDetails?.name ? 'Simulation ' + simulationDetails.name : 'Create Simulation'}}</h3>
    <button class="vertical" (click)="onMenuOpen = !onMenuOpen">
      <i class="material-icons-outlined">
        settings
      </i>
    </button>
    <div class="table-header__block__wrapper">
      <app-table-columns-dropdown
        [columns]="optionalColumns"
        [onMenuOpen]="onMenuOpen"
        (columnsEmitter)="onUpdateColumns($event)"
        (openMenuEmitter)="onMenuOpen = $event"
      ></app-table-columns-dropdown>
    </div>
  </div>
  <div class="table-header__block" *ngIf="selectedRows.length">
    <div class="table-header__block__content">
      <button (click)="onMakeAction('Buy')">
        <i class="material-icons">
          add
        </i>
        <span class="hint">Buy</span>
      </button>
    </div>
    <div class="table-header__block__content">
      <button (click)="onMakeAction('Sell')">
        <i class="material-icons">
          remove
        </i>
        <span class="hint">Sell</span>
      </button>
    </div>
    <div class="table-header__block__content">
      <button (click)="onExport()">
        <i class="material-icons-outlined">
          publish
        </i>
        <span class="hint">Publish</span>
      </button>
    </div>
    <div class="table-header__block__content">
      <button (click)="onRowsRemove()">
        <i class="material-icons-outlined">
          delete
        </i>
        <span class="hint">Remove</span>
      </button>
    </div>
  </div>
</div>
<div class="flex-table">
  <div class="flex-table__row">
    <ng-container *ngFor="let column of columns">
      <div class="flex-table__row__header" *ngIf="!column.hide">{{column.name}}</div>
    </ng-container>
  </div>
  <div class="flex-table__row"
       [class.selected]="checkIfSelected(item.id)"
       [class.action]="item.action"
       *ngFor="let item of simulationDetails?.cusipData"
       (click)="selectRow(item, $event)">

    <div class="flex-table__row__block" *ngIf="checkForColumn('cusip')">
      <ng-container *ngIf="item.action">
          <span class="add" *ngIf="item.action === 'Buy'">
            <i class="material-icons add">add</i>
          </span>
        <span class="remove" *ngIf="item.action === 'Sell'">
            <i class="material-icons remove">remove</i>
          </span>
      </ng-container>
      <input [(ngModel)]="item['cusip']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('originalFace')">
      <input type="number" [(ngModel)]="item['originalFace']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('remainingFace')">
      <input type="number" [(ngModel)]="item['remainingFace']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('marketPrice')">
      <input type="number" [(ngModel)]="item['marketPrice']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('bookPrice')">
      <input type="number" [(ngModel)]="item['bookPrice']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('bookValue')">
      <input type="number" [(ngModel)]="item['bookValue']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('maturityDate')">
      <input type="text" [(ngModel)]="item['maturityDate']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('couponRate')">
      <input [(ngModel)]="item['couponRate']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('parValue')">
      <input type="number" [(ngModel)]="item['parValue']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('marketValue')">
      <input type="number" [(ngModel)]="item['marketValue']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('aveLife')">
      <input [(ngModel)]="item['aveLife']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('effectiveDuration')">
      <input [(ngModel)]="item['effectiveDuration']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('nextCallDateAndCallPrice')">
      <input [(ngModel)]="item['nextCallDateAndCallPrice']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('settlementDate')">
      <input [(ngModel)]="item['settlementDate']">
    </div>
    <div class="flex-table__row__block" *ngIf="checkForColumn('cusipDescription')">
      <input [(ngModel)]="item['cusipDescription']">
    </div>
  </div>
</div>
<button class="outline-btn" (click)="onAddNewLine()">Add Line</button>

