<div class="simulation-list">
  <button>
    <i class="material-icons">
      add
    </i>
    <span>Create New</span>
  </button>
  <div class="simulation-list__table">
    <h4>Saved Simulation</h4>
    <div class="simulation-list__table__content">
      <table>
        <tr>
          <th>Report name</th>
          <th>Base portfolio</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>US646D132</td>
          <td>TestCust</td>
          <td>11.10.2018</td>
        </tr>
        <tr>
          <td>0S646D132</td>
          <td>TestCust1</td>
          <td>06.09.2018</td>
        </tr>
      </table>
    </div>
  </div>
</div>
