@import "assets/styles/variables";
@import "assets/styles/components/table.component";

.simulation-list {
  width: 97%;
  padding-top: 20px;

  button {
    margin-left: 60px;
    background: $blue-secondary;
    border: none;
    border-radius: 4px;
    display: -webkit-box;
    display: flex;
    align-items: center;
    color: $white;
    padding: 8px 17px 8px 8px;
    letter-spacing: $ls-1;
    line-height: 20px;
    font-size: $font-size-default;

    i {
      font-size: $font-icon-default;
      padding-right: 6px;
    }
  }

  h3 {
    font-weight: $medium;
    font-size: $font-size-md;
    line-height: 26px;
    letter-spacing: $ls-2;
    padding-left: 10px;
    margin-top: 30px;
  }
}
