.wrapper{
  display: flex;
  padding-top: 72px;

  &__sidebar{
    position: fixed;
  }

  &__content{
    width: calc(100% - 100px);
    height: calc(100vh - 72px);
    margin-left: 100px;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
    perfect-scrollbar {
      max-height: calc(100vh - 72px);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    ::ng-deep perfect-scrollbar .ps-content {
      padding-bottom: 200px;
    }
    &.open{
      margin-left: 240px;
      width: calc(100% - 240px);
    }
  }
}
