.wrapper{
  display: flex;
  padding-top: 72px;

  &__sidebar{
    position: fixed;
  }

  &__content{
    width: calc(100% - 100px);
    margin-left: 100px;
    transition: all .3s ease;

    &.open{
      margin-left: 240px;
      width: calc(100% - 240px);
    }
  }
}
