@import "assets/styles/variables";
@import "assets/styles/components/table.component";

.bold {
  .col-flex-table {
    &__column {
      &:first-child {
        font-weight: $medium;
      }

      &__add{
        margin-top: 46px;
        border-top: 1px solid $light-grey;
        font-weight: $regular;

        &:first-child{
          font-weight: $medium;
        }
      }

      &__content{
        min-height: 21px;
      }
    }
  }
}
