.nav-wrapper{
  padding-right: 20px;

  ul{
    width: 84px;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    overflow: hidden;
    -webkit-transition: width .3s;
    transition: width .3s;

    &.open{
      width: 100%;
    }

    li{
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;

      a{
        display: flex;
        align-items: center;
        height: inherit;
        width: 100%;
        text-decoration: none;
        color: black;

        i{
          padding: 0 30px;
        }

        span{
          font-size: 20px;
          padding-right: 34px;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: -0.2px;
        }

        &.selected{
          background-color: #16C9EF;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}
