@import "assets/styles/variables";

h3{
  font-weight: $medium;
  font-size: $font-size-lg;
  line-height: 32px;
  color: $color-default;
  letter-spacing: $ls-4;
  margin-top: 0;
  margin-bottom: 20px;
}

.input-block {
  display: inline-block;
  border: 1px solid $light-grey;
  padding: 8px 0;

  input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: $font-size-default;
  }
}

.btn-wrapper{
  padding-top: 15px;
}

::ng-deep{
  .mat-dialog-container{
    background-color: $white;
    padding: 15px;
    overflow: hidden;
  }
}
