/* You can add global styles to this file, and also import other style files */
@import "assets/styles/variables";
@import "assets/styles/common";

html{
  font-size: 14px;
  height: 100%;
}

body{
  margin: 0;
  font-family: $font-default;
  color: $color-default;
}

p, h1, h2{
  margin: 0;
}

@import "~igniteui-angular/lib/core/styles/themes/index";


@include igx-core();
@include igx-theme($default-palette);

button {
  cursor: pointer;
}
